name: CMake CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 0  1 * *'
  workflow_dispatch:

#env:
#  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
#  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, ubuntu-16.04]
        build_type: [Release, Debug]
        skip_meson: [false]
        include:
          - os: ubuntu-16.04
            skip_meson: true
        
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{ matrix.build_type }}

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{ matrix.build_type }}
      
    - name: Meson
      if: ${{ matrix.skip_meson == 'false' }}
      env:
        TRAVIS_OS_NAME: ${{ matrix.os }}
        BUILD_TYPE: ${{ matrix.build_type }}
        SKIP_MESON: ${{ matrix.skip_meson }}
      # TBD
      run: /bin/true
        
      
